#map {
    width: 100%;
    height: 65%;
}

.fondo {
    height: 35%;
    background-image: url("../../assets/images/pattern-bg.png");
    background-size: 100% 100%;
    color: white;
}

.titulo {
    margin: auto;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

.center {
    margin: auto;
}

.input {
    width: 25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0px transparent;
    font-size: 1.2rem;
}

.button {
    /* height: 80%; */
    width: 3rem;
    background-color: #2b2b2b;
    background-image: url(/assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 0px transparent;
    margin-left: -48px;
    position: absolute;
    height: 46px;
    cursor: pointer;
}

.tarjeta {
    width: 75%;
    margin-top: 1.7rem;
    z-index: 999;
    height: 6rem;
    //box-shadow: 10px 5px 50px #2b2b2b;
    border-radius: 15px;
}

.title {
    color: rgb(0 0 0 / 54%);
    font-weight: 700;
    font-size: 0.8rem;
}

.contet_data {
    font-size: 1rem;
    font-weight: bolder;
}

.borde {
    border-right: 1px solid rgba(150, 150, 150, 0.5);
}

.content {
    text-align: center;
    white-space: break-spaces;
    padding-top: 6rem !important;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #map {
        height: 65%;
    }
    .fondo {
        height: 45%;
    }
    .input {
        width: 18rem;
    }
    .tarjeta {
        width: 90%;
        height: auto;
    }
    .mat-toolbar,
    .mat-toolbar h1,
    .mat-toolbar h2,
    .mat-toolbar h3,
    .mat-toolbar h4,
    .mat-toolbar h5,
    .mat-toolbar h6 {
        font: inherit;
    }
}