<mat-toolbar class="fondo">
    <mat-toolbar-row>
        <span class="titulo">IP Address Track</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="center">
            <input class="input" placeholder="Search for any IP address or domain" [(ngModel)]="ip">
            <button (click)="getGeolocalizacion()" class="button"><a></a></button>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-card class="center tarjeta">
            <!-- <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
            </mat-grid-list>-->

            <mat-grid-list [cols]="breakpoint" [rowHeight]="size" (window:resize)="onResize($event)">
                <mat-grid-tile class="content">
                    <div class="block-content__title">IP ADDRESS</div>
                    <div class="block-content__content">{{geolocalizacion ? geolocalizacion.ip : ''}}</div>
                </mat-grid-tile>
                <mat-grid-tile class="content">
                    <div class="block-content__title">LOCATION</div>
                    <div class="block-content__content">{{geolocalizacion ? geolocalizacion.location.country:''}},{{geolocalizacion ? geolocalizacion.location.city : ''}} {{geolocalizacion ? geolocalizacion.location.postalCode: ''}}</div>
                </mat-grid-tile>
                <mat-grid-tile class="content">
                    <div class="block-content__title">TIMEZONE</div>
                    <div class="block-content__content">{{geolocalizacion ? geolocalizacion.location.timezone :''}}</div>
                </mat-grid-tile>
                <mat-grid-tile class="content">
                    <div class="block-content__title_end">ISP</div>
                    <div class="block-content__content_end">{{geolocalizacion ? geolocalizacion.isp :''}}</div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-toolbar-row>





</mat-toolbar>
<div id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
</div>