<mat-toolbar class="fondo" *ngIf="!loading">
    <mat-toolbar-row>
        <span class="titulo">IP Address Track</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="center">
            <input class="input" placeholder="Search for any IP address or domain" [(ngModel)]="ip">
            <button (click)="getGeolocalizacion()" class="button"><a></a></button>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <mat-card class="center tarjeta">
            <mat-grid-list [cols]="breakpoint" [rowHeight]="size" (window:resize)="onResize($event)">
                <mat-grid-tile class="content borde">
                    <h2 class="title">IP ADDRESS</h2>
                    <p class="contet_data">{{geolocalizacion ? geolocalizacion.ip : ''}}</p>
                </mat-grid-tile>
                <mat-grid-tile class="content borde">
                    <h2 class="title">LOCATION</h2>
                    <span class="contet_data">{{geolocalizacion ? geolocalizacion.location.country:''}}{{geolocalizacion ? ' , ' : ''}}{{geolocalizacion ? geolocalizacion.location.region:''}}{{geolocalizacion ? ' , ' : ''}}{{geolocalizacion ? geolocalizacion.location.city : ''}} {{geolocalizacion ? geolocalizacion.location.postalCode: ''}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="content borde">
                    <h2 class="title">TIMEZONE</h2>
                    <p class="contet_data">{{geolocalizacion ? geolocalizacion.location.timezone :''}}</p>
                </mat-grid-tile>
                <mat-grid-tile class="content">
                    <h2 class="title">ISP</h2>
                    <p class="contet_data">{{geolocalizacion ? geolocalizacion.isp :''}}</p>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-toolbar-row>
</mat-toolbar>
<div [hidden]="loading" id="map" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions">
</div>

<div *ngIf="loading">
    <mat-spinner class="loading"></mat-spinner>
</div>